*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

img{
    width: 250px;
    padding: 30px 30px;
}

body{
    
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0,0.5)),url(background.jpg);
}

form{
    
    display: inline-block;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    padding: 100px 100px;
    margin: 50px 450px;
    border-radius: 10px;
}

footer{
    height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));;
}