*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

body{
    background: #00081d;
    color: #fff;
   

}


.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(3,9,28,0.2),rgba(0, 7, 30,1)),url(EG-en-20230417-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8px;
    position: relative;
}



nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 30px;
}



.logo{
    width: 140px;
    cursor: pointer;
}



nav button{
    background:#db0001;
    color: #fff;
    padding: 5px 30px;
    border:0;
    outline: 0;
    font-size: 17px;
    border-radius: 4px;
    margin-left: 6px;
    cursor: pointer;
    
    

}



button>a{
    text-decoration: none;
}



 
.btn-secondary{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 5px 20px;
    margin-left: 900px;


     
}


.form-control{
    display: inline-flex;
    margin-left:100px;
    width: 35%;
    
}



#floatingInputValue{
    font-size: larger;
    padding-top: 20px;
    background-color: rgb(15, 17, 24,0.7);
    color: #b7b8ba;
    
} 

form .submit{
    display: inline-block;
    color: #fff;
    font-size: 30px;
    background:  #db0001;
    padding: 8px 20px;
    border: 0px solid #fff;
    border-radius: 4px;
    margin-left: 10px;
    
}




.card-body{
    background-image: linear-gradient(to bottom right,#0b133a, #3a0e22);
    background-color: #00081d;
    color: #fff;
    text-align: start;
    font-size:large  ;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    padding: 50px;
    

}




.card{
    border: 0px solid #00081d;
    border-radius: 20px;
}





.card>img{
    
    background-image: linear-gradient(to bottom right,#0b133a, #3a0e22);

}




.accordion-item{
    background-color:#132144 ;
    color: #fff;
    
    margin-top: 10px;
    border: 0px solid #132144;
}




.accordion-button{
    background-color: #132144;
    font-size: 23px;
    padding: 30px 40px;

}


strong{
    color: #fff;
    
}



h1{
    text-align: start ;
    align-items: center;
    margin: 50px 100px; 
    font-size: 80px;
}




.container>h2{
    font-size: 45px;
    margin-top: 80px;
    text-align: start;
    margin-bottom: 0px;
}




h3{
    text-align: start;
    font-size: 20px;
    margin-left: 100px;
}




header>p{
    text-align: start;
    margin-left: 100px;
}



section>p{
    display: flex;
    height: 50vh;
    text-align: end;
    justify-content: center;
    align-items: center;
    color:#fff;

}


footer>p{
    text-align: start;
    margin: 30px 120px;
    font-size: 18px;

}



footer>form{
    display: flex;
    margin-left: 20px;
}